annoy==1.16.3
appnope==0.1.0
asn1crypto==1.2.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.3.0
blis==0.4.1
boto==2.49.0
boto3==1.10.10
botocore==1.13.10
bs4==0.0.1
catalogue==0.0.8
certifi==2019.11.28
cffi==1.13.1
chardet==3.0.4
conda==4.7.12
conda-package-handling==1.6.0
cryptography==3.3.2
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.4.2
defusedxml==0.6.0
dill==0.2.9
docopt==0.6.2
docutils==0.15.2
elasticsearch==7.0.4
en-core-web-sm==2.2.0
entrypoints==0.3
enum34==1.1.6
gensim==3.8.1
h5py==2.9.0
html2text==2020.1.16
idna==2.8
importlib-metadata==0.23
inflect==3.0.1
ipykernel==5.2.1
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.0
Jinja2==2.11.3
jmespath==0.9.4
joblib==0.14.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lxml==4.9.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==7.2.0
msgpack==0.6.1
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.5
nltk>=3.6.6
notebook==6.4.12
numpy>=1.21
olefile==0.46
pandas==0.25.1
pandas-ml==0.6.1
pandocfilters==1.4.2
parso==0.7.0
path.py==12.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pipreqs==0.4.10
plac==0.9.6
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycosat==0.6.3
pycparser==2.19
pycurl==7.43.0.5
Pygments==2.7.4
pyjarowinkler==1.8
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-crfsuite==0.9.6
python-dateutil==2.8.0
pytz==2019.2
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
regex==2019.8.19
requests==2.22.0
ruamel-yaml==0.15.46
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.1
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
smart-open==1.9.0
soupsieve==2.0
spacy==2.2.3
srsly==0.2.0
TBB==0.1
terminado==0.8.3
testpath==0.4.4
thinc==7.3.1
toolz==0.10.0
torch==1.4.0
torchvision==0.5.0
tornado==6.0.4
tqdm==4.36.1
traitlets==4.3.3
ujson==5.4.0
Unidecode==1.1.1
urllib3==1.26.5
wasabi==0.4.0
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
wptools==0.4.17
wrapt==1.10.11
xlrd==1.2.0
yarg==0.1.9
zipp==0.6.0

